.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: black;

  }
  
  .headerLogo a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  